{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta naem='viewport' content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Grocery Delivery
        {% endblock title %}
    </title>

    <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
</head>
<body class="home wc-shortcodes-font-awesome-enabled global-block-template-1 td-newsmag-fashion td-animation-stack-type0 td-boxed-layout td-js-loaded" itemscope="itemscope" itemtype="https://schema.org/WebPage">
    
    <div class="td-header-row td-header-main-menu">
        <header id="header">
            <div id="logo"><img src="{% static 'logo1.jpg' %}" alt=""/></div>
            <div id="topbanner"><img src="{% static 'top_banner.png' %}" width="1400" height="250" alt=""></div>
        </header>
        <aside id="leftsidebar">
            <nav id="nav">
                <ul>
                    {% block sidenav %}

                    <li>Menu 1</li>
                    <li>Menu 2</li>
                    <li>Menu 3</li>

                    {% endblock sidenav %}
                </ul>
            </nav>
        </aside>

        <section id="main">
            {% block content %}
            <h1>Welcome!</h1>
            <p>This is the site templete</p>
            {% endblock content %}
        </section>

        <footer id="footer">Copyright &copy; 2017 Elyor's Web Design</footer>
    </div>
</body>
</html>